extends layout

block content
  h1 Create a new tutorial!

  form#postTutorial(name="postTutorial",method="post",action="/tutorial/addtutorial")
    input#inputTitle(type="text",placeholder="Title",name="title")
    input#inputBody(type="text",placeholder="body",name="body")
    button#btnSubmit(type="submit") Submit
