extends layout

style.
    h1{font-size: 18px; color: "yellow";}

block header
  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script.
    var defaultTab = "#{defaultTab}"
    function comment(resourceID) {
      jQuery.ajax('resources/addcomment/' + resourceID, {type:"post", data: {commentText: document.forms.namedItem(resourceID).commentText.value}}).success(
      function(data){
        console.log(data);
        $('body').append("<p>" + data.text + "</p>");
      });
    }

    function resource() {
      jQuery.ajax('resources/addresource/', {type:"post", data: {
        name: document.forms.namedItem('addResource').name.value,
        address: document.forms.namedItem('addResource').address.value,
        type: defaultTab,
        description: document.forms.namedItem('addResource').description.value,
      }}).success(
        function(data) {
          $('#resources').append('<p>' + data.name + '</p><hr>');
        }
      )
    }

block content
  h1#subtitle= defaultTab
  p#resources These are the #{defaultTab} results
    p#subtitle test
    each resource in resources
      p#subtitle
        = resource.name
        form(name='addComment', method="post", id=resource._id + '')
          input(class ='input',type='text', placeholder='comment here', name='commentText')
          button#btn.btn-primary(type='button', onclick='comment("'+ resource._id +'")') Submit
        each comment in resource.comments
          p#comments
            = comment.text
      hr
  form(name='addResource', id='addResource')
    input(type='text', placeholder='resource name', name='name')
    span Name
    input(type='text', placeholder='address', name='address')
    span Address
    input(type='text', placeholder='description', name='description')
    span Description
    button#btn.btn-primary(type='button', onclick='resource()') Submit
