extends layout

block content
  #create Tutorials 
   br 
   click Click any of the Buttons below to begin
  
  table
    tbody
      for tutorial in tutorials
        tr
          td.tables
            button.btn.btn-default.btn-md(href="/tutorial/" + tutorial._id) #{tutorial.title}

  button#btn.btn-primary.btn-lg(href='/tutorial/newtutorial') Create a new tutorial!
