extends layout

block content
  #create Tutorials 
   br 
   click Click any of the Buttons below to begin
  
  table
    tbody
      for tutorial in tutorials
        tr
          td.tables
            form(method="get",action="/tutorial/" + tutorial._id)
              button.btn.btn-default.btn-md(type="submit") #{tutorial.title}

  form(method="get",action="/tutorial/newtutorial")
    button#btn.btn-primary.btn-lg(type="submit") Create a new tutorial!
