extends layout
block content
  h1#create= title
  p#subtitle!= body.replace(/\n/g, '<br />')

  form#formAddComment(name="addComment",method="post",action="/tutorial/addcomment/"+"#{pageID}")
    input#inputComment(type="text",placeholder="Add a comment.",name="comment")
    button#btn.btn-primary(type="submit") Submit

  table
    tbody
      for comment in comments
        tr
          td#comments= comment.text
