extends layout

block content
  h1 Tutorials
  
  a(href='/tutorial/newtutorial') Create a new tutorial!

  table
    tbody
      for tutorial in tutorials
        tr
          td 
            a(href="/tutorial/" + tutorial._id) #{tutorial.title}
